@import './base.css';
@import './components.css';
@import './flex.css';
@import './fonts.css';
@import './utilities.css';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
