.react-calendar {
  width: 100%;
  border: none;
  font-family: 'Paperlogy', sans-serif;
}

.react-calendar__navigation {
  display: flex;
  gap: 6px;
  margin-left: 12px;
}

.react-calendar__navigation button:hover,
.react-calendar__navigation button:focus,
.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}

.react-calendar__navigation .react-calendar__navigation__label {
  flex-grow: 0 !important;
}

.react-calendar__navigation .react-calendar__navigation__arrow {
  min-width: unset;
}

.react-calendar__tile {
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  aspect-ratio: 1 / 1;
}

.react-calendar__tile--now {
  background: inherit;
  color: inherit;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #ffac0b;
}

.react-calendar__navigation__label > span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #3c3c3c;
}

.react-calendar__month-view__weekdays {
  abbr {
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
  }
  margin-bottom: 8px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #ffac0b;
  border-radius: 100%;
  color: white;
}

.react-calendar__tile--active {
  background-color: #ffac0b;
  border-radius: 100%;
  color: white !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #959595;
}

.marked {
  background-color: #72d270;
  font-weight: 500;
  color: white;
  border-radius: 12px;
  border: solid 2px white !important;
}
